/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Mode edition **/

.mode-edition {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	font-size: 1em;
	display: none;
}

.mode-edition i {
	color: white;
	padding-right: 5px;
}

/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.categories-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
  }
  
.categories-menu button {
	background-color: transparent;
	border: 2px solid #1D6154;
	color: #1D6154;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	}

.categories-menu button:hover {
		background-color: #1D6154;
		color:white;
}

.categories-menu button.active {
	background-color: #1D6154;
	color: white;
  }


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}


.modif-button {
	align-items: center;
	background-color: #fffef8;
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px 20px;
	font-family: 'Syne';
	font-size: 13px;
	font-weight: 700;
	cursor: pointer;
}

.modif-button i {
	padding-right: 5px;
}

#contact {
	width: 50%;
    margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** LOGIN **/

.main-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-login {
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #FFFEF8;
	font-family: 'Work Sans';
	font-weight: 500;
}

/* Espace email et password */

.main-login h2 {
	margin: 60px 0 40px 0;
}

a {
	text-decoration: none;
	color: black;
}

a:active {
	font-weight: bold;
}

.main-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form-login {
	display: flex;
	flex-direction: column;
	min-width: 380px;
}

.main-login a {
	font-family: 'Work Sans';
	text-decoration: underline;
}

#email, #password {
	font-family: 'Work Sans';
	font-size: bold;
	margin-top: 8px;
	margin-bottom: 32px;
	min-height: 48px;
	border: none;
	font-size: 1.2em;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.error-login {
	display: none;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	border: 1px solid red;
	border-radius: 60px;
	background-color: red;
	color: white;
	font-family: 'Syne';
	padding: 10px 20px;
}

/* FOOTER */

.footer-login {
	display: flex;
	justify-content: end;
	background-color: #ffffff;
	width: 100%;
	margin-top: 300px;
}




/* PARTIE MODALES */

/* FIRST MODALE */

.modal {
	position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #fff;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
	z-index: 10002;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Gris avec une opacité de 50% */
	z-index: 10000; /* En dessous de la modale */
}


.modal-content h2 {
	font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
	color: black;
}

.modal-content hr {
	margin-top: 10%;
	margin-left: 5%;
	width: 430px;
}

.close-btn {
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
	padding-right: 10px;
}

.modal-gallery {
	display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
}

.modal-img-container {
    position: relative;
	width: 76px;
	height: 102px;
	margin: 10px;
}

.modal-img-container img {
	position: relative;
    overflow: hidden;
	width: 76px;
	height: 102px;
}

.modal-img-container img:hover {
	transform: scale(1.05); /* slight zoom on hover */
}

.add-btn {
	display: block;
    margin: 0 auto;
    background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 50px;
    cursor: pointer;
	margin-top: 30px;
	font-family: 'Syne';
    font-weight: 100;
}

.add-btn:hover {
    background-color: #134224;
}

.fa-trash-can {
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 3px;
}

.fa-trash-can:hover {
	transform: scale(1.1);
}


/* SECOND MODALE */

.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
}

.photo-section {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.hidden {
	display: none;
}

.upload-placeholder {
    width: 420px;
    height: 180px;
    background-color: #e1e8ed;
    display: flex;
	flex-direction: column;
	gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #88888863;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-placeholder .img-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Pour contenir l'image dans le placeholder */
}

.upload-placeholder i {
	font-size: 80px;
}

.upload-placeholder:hover {
    background-color: #d0d6db;
}

.add-photo-btn {
	width: 180px;
    background-color: #88888863;
    border: none;
	border-radius: 20px;
	padding: 12px;
    color: #306685; /* Bleu */
    font-size: 14px;
    cursor: pointer;
	font-family: 'Work Sans';
	font-weight: bold;
}

.add-photo-btn:hover {
    text-decoration: underline;
}

.img-info {
    font-size: 12px;
    color: black#666666;
    margin-top: 5px;
}


.photo-section p {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.validate-btn.disabled {
    background-color: #a7a7a7; /* Gris */
    color: #ffffff;
    cursor: not-allowed;
}

.validate-btn.active {
    background-color: #1D6154; /* Vert */
    color: white;
    cursor: pointer;
}

.validate-btn {
    display: block;
    width: 240px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
	margin-top: 15px;
}

.validate-btn:hover {
    background-color: #134224;
}

.photo-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo-form label {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
	margin-left: 15px;
    display: block;
}

.photo-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.photo-form input[type="text"]:focus {
    border-color: #0066CC;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}


.photo-form select {
	width: 420px;
    height: 51px;
    border: none;
    box-shadow: 3px 3px 10px #dddddd;
    margin-top: 10px;
    margin-bottom: 20px;
	margin-left: 15px;
    appearance: none;
    padding: 6px 12px;
}


.photo-form select:focus {
    border-color: #0066CC;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

#category-select {
	width: 420px;
    height: 51px;
    border: none;
    box-shadow: 3px 3px 10px #dddddd;
    margin-top: 10px;
    margin-bottom: 20px;
	margin-left: 15px;
    appearance: none;
    padding: 6px 12px;
}
